body {background-color: rgb(235,235,235);}
#container {margin-bottom: 65px;}
.banner {position:absolute; bottom:0; color:#fff; width:100%; background:rgba(0,0,0,.7);}
.txt {display:table-cell; vertical-align:middle; height:40px;}
.no-new-line {overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.img {height:40px;}
.font16 {font-size:16px;}
.bg-wrapper {position:relative;}
#container .container-fluid:nth-child(3) {margin-top:55px;}
#container .container-fluid:nth-child(7) {margin-bottom:47px;}
.container-fluid {margin-top:9px; padding: 0 5px; border-radius: 5px;}
.list-group {margin-bottom: 0px;}
.list-group-item{border-color: rgb(197,197,197); padding:2px;}
.list-group-item a {display:block; color: #000; text-decoration: none; color: #888;}
.list-group-item:last-child a {padding: 0; font-size: 12px;}
.img-responsive {width: 100%; height:268px;}
.pull-right {width:43px; height:43px;}

.navbar {position: fixed;top: -1px; left:0px; display: block;width: 100%; z-index:1;}
.navbar a { color:#888; text-decoration: none;}
.weui_navbar_item {padding:10px 0 !important;}

.weui_cell_ft {position: fixed; bottom: 48px; right: 5px;}
.weui_cells_form {position: fixed; bottom: 48px; left:-999px; width: 81%; border: 1px solid rgb(197,197,197);}

.image_url {padding: 0;}
.input_image_url {height: 3.15em; border: 1px solid #04BE02;border-radius: 5px;}

#progress .list-group-item a {font-size: 12px; padding: 0;}